* {
    font-family: 'Source Code Pro', monospace;
}

/* mobile devices */
@media (max-width: 449px){
    /* body has a margin around the whole page. take it out */
    body {
        margin: 0;
    }

    /* adding quick responsiveness to all images */
    img {
        width: 100%;
    }

    /* container that holds 2 divs: header and main */
    .container {
        width: 445px;
        display: flex;
        flex-wrap: wrap;
    }

    /* the first div that holds icon, and title */
    .header {
        width: 100%;
        background: url("../img/body.jpg");
        background-position: 10px;
        text-align: center;        
    }

    /* the second div that holds body-img, about me text, and featured-work */
    .main {
        width: 100%;
        text-align: center;
        background-color: #fffff0;
        
    }

    /* dont show body-img on cell phones. let it be background image for name and profile */
    .body-img {
        display: none;
    }

    /* cant figure out where to put icon */
    .icon {display: none;}

    /* within the header div that holds title-text and profile pic */
    .title {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    /*title-text holes full-name and job-label */
    .title-text {
        color: white;
        width: 100%;
        order: 2;
    }

    /*div that has my full name and i want to change the color of my last name */
    .full-name {
        font-size: 20px;
        font-weight: 700;    
        text-transform: uppercase;    
    }

    /* changes color of my last name */
    .full-name .last-name {
        color: #FFF16B;
        display: inline-block;
    }

    /* the h1 has weird spacing from the job-label div */
    .full-name h1 {
        margin-bottom: 0;
    }
    
    /* made a profile div to hold my profile pic and made it into the background. this code has the best position of my face within the div */
    .profile {
        order: 1;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 200px;
        background-repeat: no-repeat;
        background-image: url("../img/profile.jpeg");
        background-position: -9.5em -11em;
        background-size: 525px, cover;
        border-radius: 50%;
        border: solid 2px #fffff0;;
    }

    /* changing the featured work into uppercase */
    .featured-work h2 {
        text-transform: uppercase;
    }

    /* changing the about me into uppercase */
    .main h2 {
        text-transform: uppercase;
    }

    /* gave projects a border to have some spacing between themselves */
    .project {
        border-top: 2px solid white;
    }

    /* gave imgs a big border all around */
    .project img {
        border: 5px solid white;
    }

    /* the p tags needed to be positioned neatly inside the div */
    .project-role p, .project-link p {
        padding-top: 10px;
        margin: 0 0 0 10px;
    }

    /* general stylings for project-role and project-link*/
    .project-role, .project-link {
        text-align: left;
        height: 40px;
    }

    /*background colors for project-role and project-link */
    .project-role {
        background-color: lightgray;
    }

    .project-link {
        background-color: black;
    }

    /* additional stylings for project-link */
    .project-link a {
        text-decoration: none;
        color: white;
    }
}

/* .container {

}

.header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.profile {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-image: url("../img/profile.jpeg");
    background-position: center -10em;
    background-size: 525px, cover;
    border-radius: 50%;
    border: solid 1px yellow;
}

.icon {
    height: 100px;
    width: 100px;
}

.title {
    display: inherit;
}

.title-text{
    margin-right: 30px;
    text-transform: uppercase;
} */